<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="/static/main.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
	<body>
		<div class='content-wrapper'>
			<h1>Click Bait Title Generator</h1>
			<h3>pick the generated headline!</h3>

			<form>
				  <input type=text size=5 name=inputword>
          <a href=# id=process_input><button class='btn btn-default generate'>Submit</button></a>
			</form>
      <p id=result></p>

			<div class='titles'>
				  <img class='spinner' src='/static/gears.gif'/>
				  <div class='title' id='top-title'>
				  </div>
				  <div class='title' id='bottom-title'>
				  </div>
			</div>

			<div class='answer-wrapper'>

				  <h2 class='answer'></h2>
			</div>

		</div>
    <div class='words' id='simwords'>
    </div>


		<input type='hidden' id='real' value=''></input>
    <script type=text/javascript>
		
		</script>

	</body>
</html>
